@use '../base/variables.module.scss' as v;
@use '../base/mixins.module.scss' as m;

.comotrabajamos {
  padding: 5rem 2rem;
  background: linear-gradient( 180deg, v.$color-crema, white );
  text-align: center;

  &_titulo { 
    font-size: 2.5rem;
    font-weight: 800;
    color: #1a202c;
    letter-spacing: -0.025em;
    margin-bottom: 3rem;
    text-transform: uppercase;
    
    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 4px;
      background: v.$color-secundary;
      margin: 1rem auto 0;
      border-radius: 2px;
    }
  }
  
  &_subtitulo { 
    font-size: 1.4rem;
    color: v.$color-text;
    font-weight: 400;
    max-width: 600px;
    margin: 0 auto 4rem auto;
  }

  &_contenedorBG {
    max-width: 1400px;
    margin: 0 auto;
  }

  &_pasos {
    display: grid;
    background: white;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 24px;
    box-shadow: 0 20px 50px rgba(0,0,0,.06);
    padding: 3rem 2rem;
    grid-template-columns: 1fr; 
    gap: 1.4rem .8rem;
    background-color: v.$color-crema; 
    backdrop-filter: blur(12px);
    margin: 0 auto;
    align-items: start;


    @include m.telefono {
      grid-template-columns: repeat(2, 1fr);
    }
    @include m.telefonoXXL {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 1rem;
    }
    @include m.tabletXL {
      grid-template-columns: repeat(5, 1fr);
      gap: 2.5rem 1.5rem;
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .2rem;
    position: relative;

    &::after {
      content: "";
      width: 70px;
      height: 3px;
      border-radius: 999px;
      background: v.$color-primary;
      margin-bottom: 1rem;
    }
  }

  &_wrapper {
      position: relative;
      display: inline-block;
      padding: 10px;
  }

  &_numero {
      position: absolute;
      padding: .8rem;
      top: 0;  
      left: 4px; 
      width: 28px;
      height: 28px;
      background-color: v.$color-white;
      color: v.$color-text;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 900;
      font-size: 1.3rem;
      border: 4px solid v.$color-primary;
      z-index: 2;
  }
  &_wrapper {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background:rgba(v.$color-primary,.08);
  }

  &_icono {
    font-size: 2.5rem;
    color: v.$color-bosque;
    margin: 0;
  }

  &_heading { 
    font-weight: 700;
    font-size: 1.15rem;
    color: v.$color-dark;
    margin-top: .8rem;
  }

  &_desc {
    font-size: clamp(0.7rem, 0.5rem + 0.4vw, 0.9rem);
    color: v.$color-text;
    line-height: 1.5;
    margin: 0.5rem 0;

    @media (max-width: 480px) {
      font-size: 0.9rem; 
      line-height: 1.4; 
    }
}
}
