@use '../base/variables.module.scss' as v;
@use '../base/mixins.module.scss' as m;

.mision {
    width: 100%;
    min-height: 40vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    &_bg {
        object-fit: cover;
        z-index: 0;
    }
    &_overlay {
        background: linear-gradient( 135deg, rgba(13, 15, 12, .85), rgba(13, 15, 12, .65) );
        position: absolute;
        inset: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: radial-gradient( circle, transparent 40%, rgba(0,0,0,.5) 100% );
        }
    }

    &_texto {
        color: v.$color-white;
        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: .3px;
        text-align: center;
        max-width: 1200px;
        margin: 0 auto;
        line-height: 1.4;
        position: relative; // Necesario para posicionar las comillas
        padding: 0 3rem;    // Espacio para que las comillas no se solapen con el texto
        @include m.tabletXL {
            font-size: 2.3rem;
            line-height: 1.5;
        }

        &::before,
        &::after {
            content: "“";
            position: absolute;
            font-size: 7rem;
            color: rgba(v.$color-primary, .25);
            font-family: Georgia, serif;
            font-weight: 700;
        }

        &::before {
            top: -1rem;
            left: 0;
        }

        &::after {
            content: "”";
            bottom: -2rem;
            right: 0;
        }
        &::selection {
            background: v.$color-primary-trans;
        }
    }

    &_highlight {
        color: v.$color-primary;
        position: relative;
        font-weight: 700;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 2px;
            width: 100%;
            height: 4px;
            background: rgba(v.$color-primary,.2);
            z-index: -1;
        }
    }
}