@use 'base/variables.module.scss' as v;
@use 'base/mixins.module.scss' as m;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Poppins:wght@400;600;800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    // background-color: v.$color-white;
    font-family: monospace, sans-serif, system-ui;
    overflow-x: hidden;
}

main {
    padding-top: 4rem;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Bold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}